@font-face {
    font-family: 'SriLankan';
    src: url('SriLankan.woff2') format('woff2'),
        url('SriLankan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

